<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610279353476-gv41krudlogfj5cunf16of1ngsushr64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610279353476-gv41krudlogfj5cunf16of1ngsushr64</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>610279353476-dmikee8vabiklkg7mjbfd9nc1dfbfepq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6kuunXHkIojeMEuYkbHGcWIab-3G4xtY</string>
	<key>GCM_SENDER_ID</key>
	<string>610279353476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kharbanFixer</string>
	<key>PROJECT_ID</key>
	<string>kharban-fixer</string>
	<key>STORAGE_BUCKET</key>
	<string>kharban-fixer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610279353476:ios:51b983528a837b366f66d1</string>
	<key>DATABASE_URL</key>
	<string>https://kharban-fixer-default-rtdb.firebaseio.com</string>
</dict>
</plist>